:root {
--lightgreen: lightgreen;
}



* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--lightgreen);

    background-size: cover;
    background-repeat: no-repeat;
}



.weaterbox {
    width: 100%;
    height: 100%;
    background-color: var(--lightgreen);
}